$color-one : skyblue;
$color-two : rgb(248, 174, 37);


.body{
    background-color:$color-two ;
    width: 100%;
    height: 100%;
}
.watch-box{
    background-color: $color-one;
    padding: 10px;
    margin: 10px;
    width: 40px;
    height: 40px;
    box-shadow: 2.5px 2px 2px black;

}
.main-section{
    width: 30%;
    margin: auto;
    height: 200px;
}

.stopwatch{
    width: 90%;
    margin: auto;
    height: 100px;
}
.wrap{
    width: 100%;
    height: 95px;
    margin-left: -100px;
}
.btn-custom{
    margin-left: 120px;
}