.headline{
    width: 98%;
    height: 50px;
    margin: auto;
    border-bottom:1px solid #e2e2e2;
    margin-top: 15px;
}
.headline span{
    text-align: right;
    float: right;
    font-size: 1.586rem;
    line-height: 31px;
    white-space: nowrap;
    position: relative;
    padding: 10px;
    min-height: 49px;
    border-bottom: 1px solid tomato;
}
.ewJlEB{
    margin: auto !important;
    width: 98% !important;
    height: 400px !important;
    direction: ltr;
}
.lgksPe:hover{
    background-color: white !important;
    color: black !important;
}
.lgksPe:active{
    background-color: white !important;
    color: black !important;

}
.lgksPe:focus{
    background-color: white !important;
    color: black !important;
}
.bkVSTc{
    display: none !important;
}